doctype html
html(lang="en")
    head
        include partials/header
    body.login 
        .contenedor-formulario 
            h1 Iniciar sesion en Uptask

                if locals.mensajes
                .alertas
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)            
                                p= error
                            
            form#formulario.caja.caja-login(method="POST" action="/Iniciar-Sesion")
                .campo 
                    label(for="email") Email:
                    input(type="email", name="email" placeholder="Tu emails" value= email)
                .campo
                    label(for="password") Password:
                    input(type="password", name="password" placeholder="Tu contraseña" value= password) 
                .campo.enviar
                    input.boton(type="submit", value="Iniciar Sesion")
                .campo.acciones 
                    a(href="/crear-Cuenta") No tienes cuenta ? Crea una gratis
                    a(href="/reestablecer-password") Olvidaste la contraseña ? Click aquí
        script(src="/dist/bundle.js")    
