doctype html
html(lang="en")
    head
        include partials/header
    body
        header.barra
            h1 Administrador de proyectos 
            a(href="/Cerrar-Sesion") Cerrar sesion

        main.contenedor
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="/nuevo-proyecto" class="boton") Nvo.Proyecto
                                span +
                .panel.lista-proyectos
                    h2 Proyectos 
                    ul#proyectos.proyectos
                        if(Misproyectos.length)
                            each proyecto in Misproyectos
                                li
                                    a(href=`/Misproyectos/${proyecto.url}`)=proyecto.nombre
                        else
                            span +    
            
            block contenido



        script(src="/dist/bundle.js")  