extends layout

include mixins/crearProyecto

block contenido
    .contenido-principal
        h1 #{nombrepagina}
        

        if errores
            each error in errores 
                .error.alerta=error.texto
        
        +crearProyecto(proyecto)   
         