doctype html
html(lang="en")
    head
        include partials/header
    body.login 
        .contenedor-formulario 
            h1= nomPagina
            p Agrega tu email para reestablecer la contraseña
            
            if locals.mensajes
                .alertas
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)            
                                p= error   
            
            form.caja-login(method="POST" action="/reestablecer-password")
                .campo 
                    label(for="email") Email:
                    input(type="email", name="email" placeholder="Tu emails" value= email)
                .campo.enviar
                    input.boton(type="submit", value="Reestablecer password")
                .campo.acciones 
                    a(href="/Iniciar-sesion") Volver al login
        script(src="/dist/bundle.js")    
