doctype html
html(lang="en")
    head
        include partials/header
    body.login 
        .contenedor-formulario 
            h1= nomPagina
            p Reestablece tu password
            
            form.caja-login(method="POST")
                .campo 
                    label(for="password") Password:
                    input(type="password", name="password" placeholder="Nuevo password")
                .campo.enviar
                    input.boton(type="submit", value="Reestablecer password")
        script(src="/dist/bundle.js")    
