extends layout 

block contenido
    .contenido-principal
        h1 #{nombre_tareas} - #{proyecto.nombre}

        form.agregar-tarea(action=`/Misproyectos/${proyecto.url}`, method="post")
            .campo
                label(for="tarea") Tarea:
                input(type="text", name="tarea", placeholder="Nombre de tarea")
            .campo.enviar
                input.boton.nueva-tarea(type="submit", value="agregar")  

        .listado-pendientes
            ul 
                if tareas.length 
                    each tarea in tareas 
                        li.tarea(data-tarea=tarea.id) 
                            p= tarea.tarea
                            .acciones
                                if tarea.estado
                                    i.far.fa-check-circle.completo
                                else 
                                    i.far.fa-check-circle
                                i.fas.fa-trash
                else 
                    p No hay tareas en este proyecto


        //avance del proyecto
        .avance
            h2 Avance del Proyecto 
            #barra-avance.barra-avance
                #porcentaje.porcentaje  

        // TODO acciones a realizar

        .contenedor-acciones
            a(href=`/Misproyectos/EditarProyecto/${proyecto.id}` class="boton") Editar Proyecto
            button#eliminar-proyecto(data-proyecto-url=proyecto.url type="button" class="boton eliminar") Eliminar Proyecto 
                  