doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include ./email.css
    body
        h2 Confirmar Cuenta 
        p Ya casi estas registrado, haz click en el siguiente enlace
        a(href=`${ConfirmarURL}`) Confirma tu cuenta 
        p Si puedes acceder a este enlace, visita #{ConfirmarURL}