doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include ./email.css
    body
        h2 Reestablecer Password 
        p Hola, has solicitado reestablecer tu password, haz click 
        en el siguiente enlace para recuperarlo , el enlace es temporal
        a(href=`${resetUrl}`) Ir a resetaer el password 
        p Si puedes acceder a este enlace, visita #{resetUrl}
        p Si no solicitaste este e-mail, puedes ignorarlo  