mixin crearProyecto(proyecto = {}) 

    form.agregar-proyecto(action=`/nuevo-proyecto/${proyecto.id || '' }` method="POST")
        .campo   
            label(for="nombre") Nombre Proyecto 
            input(type="text" value=proyecto.nombre placeholder="Nuevo Proyecto" id="nombre" name="nombre")
        .campo.enviar    
             input(type="submit", value=`${proyecto.nombre ? 'Guardar' : 'Agregar'}` class="boton")